<button mat-flat-button color="warn" (click)="openDialog(false, undefined)" class="button">Ajouter un étudiant
</button>

<div class="tableau">
<div *ngFor="let student of students$ | async">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar style="background-size: cover; background-image: url(../../../../assets/img/miniature/{{student.id}}.jpg);"></div>
    <mat-card-title>{{ student.firstName}}</mat-card-title>
    <mat-card-subtitle>{{ student.firstName }} {{ student.lastName }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../../assets/img/photo/{{student.id}}.jpg">
  <mat-card-content>
    <p>
      Année de naissance : {{student.birthYear}}
    </p>
    <p>
      Classe: {{ student.class }}
    </p>
  </mat-card-content>
  <mat-card-actions>
        <button
          mat-icon-button
          (click)="openDialog(true, student)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="delete(student)"
          color = "warn"
        >
          <mat-icon>delete</mat-icon>
        </button>
  </mat-card-actions>
</mat-card>
</div>
</div>
